* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 20% auto;
}

.nav {
  background-color: purple;
  grid-column: span 2;
  background-color: rgba(210, 210, 210, 0.142);
  border-bottom: 1px solid rgb(222, 222, 222);
  font-family: cursive;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#talkait {
  color: rgb(120, 120, 120);
}

.left {
  background-color: rgba(210, 210, 210, 0.142);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gainsboro;
}

#profile {
  /* background-color: red; */
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  /* background-color: blue; */
  /* display: grid; */
  /* grid-template-rows: 55% auto; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.write {
  /* background-color: red; */
}

#moodAsk {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(210, 210, 210, 0.142);
  color: rgb(40, 40, 40);
  height: 40px;
  width: 300px;
  font-size: 16px;
  border: 1px solid rgb(214, 214, 214);
  /* border-bottom: 1px dotted rgb(136, 136, 136); */
  border-radius: 9px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgb(215, 215, 215);
}

#moodAsk img {
  /* background-color: red; */
  position: relative;
  left: 14px;
  height: 18px;
  width: 24px;
}

#moodOption {
  /* background-color: red; */
  z-index: 1;
  background-image: linear-gradient(to bottom, white, rgb(238, 238, 238));
  padding: 10px;
  height: auto;
  width: 300px;
  position: absolute;
  border-radius: 0 0 20px 20px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  box-shadow: 0px 5px 6px rgb(214, 214, 214);
  display: flex;
}

#moodOption button {
  height: 35px;
  width: 100%;
  margin-top: 9px;
  /* background-color: rgb(231, 231, 231); */
  border: 1px solid gainsboro;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#moodOption span {
  padding-left: 12px;
  font-size: 14px;
}

img {
  width: 40px;
  height: 40px;
  margin-left: -5px;
}

.happy:hover {
  background-image: linear-gradient(to right, white, rgb(236, 236, 0));
}

.sad:hover {
  background-image: linear-gradient(to right, white, rgb(7, 151, 179));
}

.angry:hover {
  background-image: linear-gradient(to right, white, rgb(195, 3, 3));
}

.disgust:hover {
  background-image: linear-gradient(to right, white, rgb(11, 75, 11));
}

.suprise:hover {
  background-image: linear-gradient(to right, white, rgb(212, 113, 0));
}

.fear:hover {
  background-image: linear-gradient(to right, white, rgb(19, 19, 121));
}

.journal:hover {
  background-image: linear-gradient(to right, white, rgb(66, 66, 66));
}

#post textarea {
  resize: none;
  width: 100%;
  height: 275px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border-color: rgb(209, 209, 209);
}

#post button {
  width: 80px;
  height: 25px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.listen {
  display: flex;
  margin-top:150px ;
  /* grid-template-rows: 50%, auto; */
  /* background-color: yellow; */
}

#breatheExe {
  /* background-color: blue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(223, 223, 223);
}

#outerCircle {
  height: 180px;
  width: 180px;
  /* background-color: rgba(209, 209, 209, 0.126); */
  background-color: red;
  border-radius: 50%;
}

#breatheExe button {
  margin-top: 15px;
  height: 25px;
  width: 50px;
  border-radius: 20px;
  border: 1px solid rgb(187, 187, 187);
  cursor: pointer;
}

#meditate {}