* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

nav {
    /* background-color: red; */
    color: rgb(120, 120, 120);
    background-color: rgba(210, 210, 210, 0.142);
    border-bottom: 1px solid rgb(222, 222, 222);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 45px;
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    width:100vw;
}
.left {

    background-color: rgba(210, 210, 210, 0.142);
    border-right: 1px solid gainsboro;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    /* background-color: red; */
    height: 150px;
    width: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    padding-left: 20px;
    justify-content: space-evenly;
}

.right {
    /* background-color: blue; */
    height: 91.2vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.write {
    /* background-color: red; */
    /* border-bottom: 2px solid gainsboro; */
    height: 355px;
}

#moodAsk {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 300px;
    font-size: 16px;
    border: 1px solid rgb(214, 214, 214);
    background-color: rgba(210, 210, 210, 0.142);
    color: rgb(40, 40, 40);
    border-radius: 9px;
    letter-spacing: 1px;
    cursor: pointer;
}


#moodOpt {
    /* background-color: rgba(210, 210, 210, 0.142); */
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to bottom, white, rgba(200, 200, 200, 0.237));
    padding: 10px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 0 20px 20px;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    box-shadow: 0px 4px rgb(214, 214, 214);
}

#moodOpt img {
    height: 30px;
    width: 30px
}

#moodOpt button {
    border: none;
    background-color: gainsboro rgba(210, 210, 210, 0);
}

#select {
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
}

#select span {
    padding-left: 8px;
}

.happy:hover {
    background-image: linear-gradient(to right, white, rgb(236, 236, 0));
}

.sad:hover {
    background-image: linear-gradient(to right, white, rgb(7, 151, 179));
}

.angry:hover {
    background-image: linear-gradient(to right, white, rgb(195, 3, 3));

}

.suprised:hover {
    background-image: linear-gradient(to right, white, rgb(212, 113, 0));
}

#post {
    z-index: -1;
    position: relative;
    height: 235px;
    width: 100%;
    resize: none;
    overflow-y: auto;
    outline: none;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
}
#page button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    border: 1px solid rgb(214, 214, 214);
}


.listen {
    height: 350px;
    /* background-color: green; */
    display: grid;
    grid-template-columns: 50% 50%;
}



.breatheExe {
    height: 350px;
    /* background-color: yellow; */
    
}
#breatheExeModel{
    height: 200px;
    width:200px;
    margin-top: 60px;
    margin-left: 33%;
    border-radius: 50%;
    border:1px solid gainsboro;
    background-color: rgba(220, 220, 220, 0.279);
}
.breatheExe button{
    position: relative;
    top:20px;
    left:250px;
    width:100px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
    
}
.meditate{
    height:350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    background-color: red;
}